name: 'Tests'

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  checks: write

jobs:
  test-jvm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup java
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'zulu'

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/jdks
            ~/.gradle/wrapper
          key: gradle-caches-jvm-v0-${{ hashFiles('build.gradle.kts', 'settings.gradle.kts', 'gradle/wrapper/gradle-wrapper.properties', 'libs.versions.toml') }}

      - name: Run tests
        run: ./gradlew jvmTest

      - name: Test Report
        uses: mikepenz/action-junit-report@v5
        if: success() || failure()
        with:
          check_name: 'JVM Test Reports'
          report_paths: '**/build/test-results/jvmTest/TEST-*.xml'

  test-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup java
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'zulu'

      - name: Install libcurl
        run: |
          sudo apt-get update 
          sudo apt-get install -y libcurl4-gnutls-dev

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/jdks
            ~/.gradle/wrapper
            ~/.konan
          key: gradle-caches-linux-v0-${{ hashFiles('build.gradle.kts', 'settings.gradle.kts', 'gradle/wrapper/gradle-wrapper.properties', 'libs.versions.toml') }}

      - name: Run tests
        run: ./gradlew linuxX64Test

      - name: Test Report
        uses: mikepenz/action-junit-report@v5
        if: success() || failure()
        with:
          check_name: 'Linux Test Reports'
          report_paths: '**/build/test-results/linuxX64Test/TEST-*.xml'

  test-darwin:
    runs-on: macos-13 # macos-13 is x64
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup java
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'zulu'

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/jdks
            ~/.gradle/wrapper
            ~/.konan
          key: gradle-caches-darwin-v0-${{ hashFiles('build.gradle.kts', 'settings.gradle.kts', 'gradle/wrapper/gradle-wrapper.properties', 'libs.versions.toml') }}

      - name: Run tests
        run: ./gradlew macosX64Test

      - name: Test Report
        uses: mikepenz/action-junit-report@v5
        if: success() || failure()
        with:
          check_name: 'Darwin Test Reports'
          report_paths: '**/build/test-results/macosX64Test/TEST-*.xml'

  test-mingw:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup java
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'zulu'

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/jdks
            ~/.gradle/wrapper
            ~/.konan
          key: gradle-caches-mingw-v0-${{ hashFiles('build.gradle.kts', 'settings.gradle.kts', 'gradle/wrapper/gradle-wrapper.properties', 'libs.versions.toml') }}

      - name: Run tests
        run: ./gradlew.bat mingwX64Test --no-daemon

      - name: Test Report
        uses: mikepenz/action-junit-report@v5
        if: success() || failure()
        with:
          check_name: 'Mingw Test Reports'
          report_paths: '**/build/test-results/mingwX64Test/TEST-*.xml'
